<?xml version="1.0"?>

<!-- gz sim will check /usr/share for models, and there is a GNOME package named 'orca' that lives there. -->
<!-- So, name this model 'orca4' to avoid a conflict. -->
<!-- See: https://answers.gazebosim.org/question/28549/gz_sim_resource_path-includes-usrshare/ -->

<model>
  <name>inpetu_pool</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Daniel Regner</name>
    <email>daniel.regner@labmetro.ufsc.br</email>
  </author>

  <maintainer email="daniel.regner@labmetro.ufsc.br">Daniel Regner</maintainer>

  <description>
    Inpetu Poll model
  </description>
</model>
